/* General Styling */
body {
    width: 100%;
}

/* Join Page Styles*/

.centered-form__box {
    width:80%;
    height:400px;
    font-size: 200%    
}

/* Chat Styles */
.centered-form__box h2 {
    text-align: center;
    font-family: Arial Rounded MT
}

.chat__sidebar {
    width: 0px
} 